<div class="ui segment">
    <h2 class="ui label tag" style="margin-bottom: 20px;">Add New Category</h2>
    <%= render partial: "categories_form", locals: { category: @category } %>
  </div>
  <div class="ui segment">
    <h2 class="ui label tag" style="margin-bottom: 20px; margin-top: 10px;">Add New Bookmarks</h2>
    <%= render partial: "form", locals: { book: @book } %>
</div>